html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
    font-size: 17px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	webkit-touch-callout: none;
	user-select: none;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

.-fullSize{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
._bottom{
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	z-index: 3;
	background-color: #ffffff;
	font-size: 0;
	> * {
		font-size: 17px;
	}
}
._half{
	display: inline-block;
	width: 50%;
}
#wrapper{
	z-index: @pages-z-index;
}

#panelTransition{
	width: 200%;
	background-color: @color-title;
	z-index: @panel-z-index;
	.transform(translateX(100%));
}

.page{
	display: block;
	overflow: auto;
	opacity: 0;
	.table{
		display: table;
		width: 100%;
		height: 100%;
	}
	.cell{
		display: table-cell;
		vertical-align: middle;
	}
	&:before, &:after{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: 30px;
		z-index: 2;
		pointer-events: none;
	}
	&:before{
		top: 36px;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%);
	}
	&:after{
		bottom: 0px;
		height: 77px;
		background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0) 100%);
	}
	.content{
		position: relative;
		width: 100%;
		height: ~"calc(100vh - 76px)";
		overflow: auto;
		padding: 10px 0 30px;
		margin: 36px auto 40px;
		.transform( translateZ(0) );
	}

	h1{
		position: absolute;
		top: 10px;
		right: 10px;
		left: 10px;
		border-bottom: 1px solid;
		color: @color-title;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 20px;
		z-index: 3;
	}
	.button{
		text-align: center;
		margin: 40px auto 0 0;
		font-weight: bold;
		padding: 5px 10px;
		color: #ffffff;
		background: @primary-color;
		cursor: pointer;
		&._bottom{
			border:0;
		}
	}
	#deleteButton{
		display: block;
		width: 150px;
		text-align: center;
		margin: 20px auto;
		color: @error-color;
		cursor: pointer;
	}
	#saveButton{
		border-left: 1px solid;
	}
}

.singleProfile{
	display: block;
	position: relative;
	opacity: 0.6;
	padding: 10px 5%;
	font-size: 15px;
	.transition(opacity 0.2s);
	&:nth-child(even) {
	    background-color: #f9f9f9;
	}
	a{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	span{
		display: block;
		width: ~"calc(100% - 100px)";
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: 400;
	}
	small{
		position: absolute;
		display: inline-block;
		right: 18px;
		top: 50%;
		font-size: 10px;
		font-weight: 500;
		color: #a53030;
		background-color: transparent;
		opacity: 1;
		border: 1px solid #a53030;
		border-radius: 2px;
		padding: 2px 3px 1px;
		cursor: pointer;
		.transform(translateY(-50%) translateZ(0));
		.transition(opacity 0.2s, background 0.2s);
		&.select{
			color: #50ab50;
			border-color: #50ab50;
			right: 54px;
		}
	}
	&:before{
		content:"";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #efefef;
		.transform(scaleX(0));
		.transition(transform 0.4s);
		.transform-origin(left center);
	}
	&:hover{
		opacity: 1;
		small{
			// opacity: 0.5;
			&:hover{
				// opacity: 1;
				// font-weight: 400;
				background-color: #a53030;
				color: #ffffff;
				&.select{
					background-color: #50ab50;
				}
			}
		}
		&:before{
			.transform(scaleX(1));
		}
	}
	&.current{
		padding-left: 8%;
		opacity: 1;
		background-color: #f5fff4;
		span{
			font-weight: 500;
		}
		small.select{
			display: none;
		}
		&:after{
			content: "";
			position: absolute;
			width: 8px;
			height: 8px;
			top: 50%;
			border-radius: 50%;
			margin-top: -4px;
			left: 3%;
			background: #50ab50;
			-webkit-box-shadow: 0px 0px 11px 2px fade(#50ab50, 65%);
			-moz-box-shadow: 0px 0px 11px 2px fade(#50ab50, 65%);
			box-shadow: 0px 0px 11px 2px fade(#50ab50, 65%);
		}
	}
}

.dark-theme{
	background: #353535;
	color: white;
	._bottom{
		background: #353535;
	}
	.button{
		background: #66C3FF;
	}
	#panelTransition{
		background: #66C3FF;
	}
	.page{
		&:before{
			top: 36px;
			background: linear-gradient(to bottom, rgba(53, 53, 53, 1) 0%,rgba(53, 53, 53, 0) 100%);
		}
		&:after{
			bottom: 0px;
			height: 77px;
			background: linear-gradient(to top, rgba(53, 53, 53, 1) 0%, rgba(53, 53, 53, 1) 65%, rgba(53, 53, 53, 0) 100%);
		}
		h1{
			color: #66C3FF;
		}
	}
	.singleProfile{
		&:nth-child(even) {
		    background-color: #3a3a3a;
		}

		&.current{
			background: #424242;
		}
		&:before{
			background: #5f5f5f;
		}
	}
	.input__field--nao{
		color: white;
	}
	.input__field--nao:focus + .input__label--nao, .input--filled .input__label--nao{
		color: #9da8b2;
	}
	.input__field--nao:focus ~ .graphic--nao, .input--filled .graphic--nao{
		stroke: #9da8b2;
	}
}