html, body{
	width: 100%;
	height: 100%;
	overflow: hidden;
    font-size: 17px;
	color: #333;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

.-fullSize{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

._bottom{
	position: absolute;
	bottom: 10px;
	right: 10px;
	left: 10px;
	z-index: 3;
	background-color: #ffffff;
}
._half{
	display: inline-block;
	width: 48%;
	margin: 0 1%;
}
#wrapper{
	z-index: @pages-z-index;
}

#panelTransition{
	width: 200%;
	background-color: @color-title;
	z-index: @panel-z-index;
	.transform(translateX(100%));
}

.page{
	display: block;
	overflow: auto;
	opacity: 0;
	.table{
		display: table;
		width: 100%;
		height: 100%;
	}
	.cell{
		display: table-cell;
		vertical-align: middle;
	}
	&:before, &:after{
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		height: 30px;
		z-index: 2;
		pointer-events: none;
	}
	&:before{
		top: 36px;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%);
	}
	&:after{
		bottom: 0px;
		height: 77px;
		background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 65%, rgba(255, 255, 255, 0) 100%);
	}

	.content{
		position: relative;
		width: 100%;
		height: ~"calc(100vh - 76px)";
		overflow: auto;
		padding: 10px 0 30px;
		margin: 36px auto 40px;
		.transform( translateZ(0) );
	}

	h1{
		position: absolute;
		top: 10px;
		right: 10px;
		left: 10px;
		border-bottom: 1px solid;
		color: @color-title;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 20px;
		z-index: 3;
	}
	.button{
		text-align: center;
		margin: 40px auto 0 0;
		font-weight: bold;
		padding: 5px 10px;
		border: 1px solid;
		opacity: 0.3;
		cursor: pointer;
		.transition(opacity 0.2s);
		&:hover{
			opacity: 1;
		}
	}
	#deleteButton{
		display: block;
		width: 150px;
		text-align: center;
		margin: 20px auto;
		color: red;
		cursor: pointer;
	}
}

.singleProfile{
	display: block;
	position: relative;
	opacity: 0.6;
	padding: 10px 5%;
	font-size: 15px;
	.transition(opacity 0.2s);
	&:nth-child(even) {
	    background-color: #f9f9f9;
	}
	a{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	span{
		display: block;
		width: ~"calc(100% - 90px)";
	}
	small{
		position: absolute;
		display: inline-block;
		right: 18px;
		top: 50%;
		font-size: 12px;
		color: #a53030;
		opacity: 1;
		border: 1px solid;
		border-radius: 2px;
		padding: 2px 3px 1px;
		cursor: pointer;
		.transform(translateY(-50%) translateZ(0));
		.transition(opacity 0.2s, transform 0.2s);
		&.select{
			color: #50ab50;
			right: 54px;
		}
	}
	&:before{
		content:"";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #d8d8d7;
		.transform(scaleX(0));
		.transition(transform 0.4s);
		.transform-origin(left center);
	}
	&:hover{
		opacity: 1;
		// small{
		// 	opacity: 0.5;
		// 	&:hover{
		// 		opacity: 1;
		// 	}
		// }
		&:before{
			.transform(scaleX(1));
		}
	}
	&.current{
		padding-left: 6%;
		opacity: 1;
		background-color: #ecfdeb;
		small.select{
			display: none;
		}
		&:after{
			content: "";
			position: absolute;
			width: 7px;
			top: 0;
			left: 0px;
			bottom: 0;
			background: #50ab50;
		}
	}
}