<!doctype html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Git user changer</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- Place favicon.ico in the root directory -->
		<!-- <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet"> -->
		<link rel="stylesheet" href="./css/main.css">
		
	</head>
	<body>
		<div id="wrapper" class="-fullSize"></div>
		<div id="panelTransition" class="-fullSize"></div>

		<!-- PAGES -->
		<script type="text/template" id="profile-list-template">
			<h1>MANAGE YOUR PROFILES</h1>
<div class="content">
	<% _.each(profiles, function(profile, key) { %> 
		<div class="singleProfile <%= currentProfile == key ? 'current' : ''%>">
			<span><%=profile.label%></span>
			<small class="select" data-extra="<%=key%>">SELECT</small>
			<small class="edit _internalLink" data-state="profile-form" data-extra="<%=key%>">EDIT</small>
		</div>
	<% }); %>
</div>
<div class="button _bottom _internalLink" data-state="profile-form">
	<span>ADD NEW PROFILE</span>
</div>

		</script>

		<script type="text/template" id="profile-form-template">
			<h1><%=title%></h1>
<div class="content">
	<div class="table">
		<div class="cell">
			<span class="input input--nao">
			    <input class="input__field input__field--nao" type="text" id="label" value="<%= typeof(label)!== 'undefined' ?  label : '' %>">
			    <label class="input__label input__label--nao" for="input-1">
			        <span class="input__label-content input__label-content--nao">Profile Label</span>
			    </label>
			    <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
			        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
			    </svg>
			</span>
			<span class="input input--nao">
			    <input class="input__field input__field--nao" type="text" id="username" value="<%= typeof(username)!== 'undefined' ?  username : '' %>">
			    <label class="input__label input__label--nao" for="input-1">
			        <span class="input__label-content input__label-content--nao">Username</span>
			    </label>
			    <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
			        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
			    </svg>
			</span>
			<span class="input input--nao">
			    <input class="input__field input__field--nao" type="text" id="email" value="<%= typeof(email)!== 'undefined' ?  email : '' %>">
			    <label class="input__label input__label--nao" for="input-1">
			        <span class="input__label-content input__label-content--nao">Email</span>
			    </label>
			    <svg class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
			        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"></path>
			    </svg>
			</span>
			<% if(!isNew){  %>
				<small id="deleteButton">DELETE</small>
			<% } %>
		</div>
	</div>
</div>

<div class="_bottom">
	<div class="button _half _internalLink" data-state="profile-list">
		<span>BACK</span>
	</div>
	<div id="saveButton" class="button _half">
		<span>SAVE</span>
	</div>
</div>
		</script>

		<script type="text/javascript">
			var require = require || undefined;
			if(require){
				var electron = require('electron');
				currentWindow = electron.remote.getCurrentWindow();			
				ipcRenderer = electron.ipcRenderer;
			}else {
				currentWindow = {};
				currentWindow.custom = {
					'currentUser': '21312',
					'currentState': 'profile-list',
					'getSettings': function(){
						return {
							"21312": {
								"label": 'personal',
								"username":"lavolpecheprogramma",
								"email" : "parziale.alberto@gmail.com"
							},
							"1232142": {
								"label": 'caffeina',
								"username":"Alberto Parziale",
								"email" : "alberto.parziale@caffeina.com"
							}
						};
					},
					'insertOrUpdateSetting': function(){console.log('insertOrUpdateSetting called')},
					'removeSetting': function(){console.log('removeSetting called')},
					'activateSetting': function(){console.log('activateSetting called')}
				};
			}
		</script>

		<script src="./js/app.js"></script>
	</body>
</html>
